In [166]:
import pandas as pd

In [140]:
mvps = pd.read_csv('mvps.csv')
mvps.head()

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Allen Iverson,25,PHI,93.0,1121.0,1240,0.904,71,...,3.8,4.6,2.5,0.3,0.420,0.320,0.814,11.8,0.190,2001
1,1,2,Tim Duncan,24,SAS,18.0,706.0,1240,0.569,82,...,12.2,3.0,0.9,2.3,0.499,0.259,0.618,13.2,0.200,2001
2,2,3,Shaquille O'Neal,28,LAL,7.0,578.0,1240,0.466,74,...,12.7,3.7,0.6,2.8,0.572,0.000,0.513,14.9,0.245,2001
3,3,4,Chris Webber,27,SAC,5.0,521.0,1240,0.420,70,...,11.1,4.2,1.3,1.7,0.481,0.071,0.703,11.0,0.186,2001
4,4,5,Kevin Garnett,24,MIN,1.0,151.0,1240,0.122,81,...,11.4,5.0,1.4,1.8,0.477,0.288,0.764,11.8,0.176,2001

In [141]:
mvps = mvps[['Player', 'Pts Won', 'Pts Max', 'Share', 'Year']]
mvps.head()

             Player  Pts Won  Pts Max  Share  Year
0     Allen Iverson   1121.0     1240  0.904  2001
1        Tim Duncan    706.0     1240  0.569  2001
2  Shaquille O'Neal    578.0     1240  0.466  2001
3      Chris Webber    521.0     1240  0.420  2001
4     Kevin Garnett    151.0     1240  0.122  2001

In [142]:
player_stats = pd.read_csv('stats.csv')
player_stats.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1,Mahmoud Abdul-Rauf,PG,31,VAN,41,0,11.9,2.9,...,0.1,0.5,0.6,1.9,0.2,0.0,0.6,1.2,6.5,2001
1,1,2,Tariq Abdul-Wahad,SG,26,DEN,29,12,14.5,1.5,...,0.5,1.6,2.0,0.8,0.5,0.4,1.2,1.9,3.8,2001
2,2,3,Shareef Abdur-Rahim,SF,24,VAN,81,81,40.0,7.5,...,2.2,6.9,9.1,3.1,1.1,1.0,2.9,2.9,20.5,2001
3,3,4,Cory Alexander,PG,27,ORL,26,0,8.7,0.7,...,0.0,1.0,1.0,1.4,0.6,0.0,1.0,1.1,2.0,2001
4,4,5,Courtney Alexander,PG,23,TOT,65,24,21.3,3.7,...,0.6,1.6,2.2,1.0,0.7,0.1,1.2,2.1,9.5,2001

In [143]:
del player_stats['Unnamed: 0']
del player_stats['Rk']
player_stats.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Mahmoud Abdul-Rauf,PG,31,VAN,41,0,11.9,2.9,6.0,0.488,...,0.1,0.5,0.6,1.9,0.2,0.0,0.6,1.2,6.5,2001
1,Tariq Abdul-Wahad,SG,26,DEN,29,12,14.5,1.5,3.8,0.387,...,0.5,1.6,2.0,0.8,0.5,0.4,1.2,1.9,3.8,2001
2,Shareef Abdur-Rahim,SF,24,VAN,81,81,40.0,7.5,15.8,0.472,...,2.2,6.9,9.1,3.1,1.1,1.0,2.9,2.9,20.5,2001
3,Cory Alexander,PG,27,ORL,26,0,8.7,0.7,2.2,0.321,...,0.0,1.0,1.0,1.4,0.6,0.0,1.0,1.1,2.0,2001
4,Courtney Alexander,PG,23,TOT,65,24,21.3,3.7,8.8,0.417,...,0.6,1.6,2.2,1.0,0.7,0.1,1.2,2.1,9.5,2001
5,Courtney Alexander,PG,23,DAL,38,6,12.4,1.6,4.7,0.348,...,0.5,1.1,1.7,0.6,0.4,0.1,0.6,2.0,4.2,2001
6,Courtney Alexander,PG,23,WAS,27,18,33.7,6.6,14.6,0.448,...,0.8,2.1,3.0,1.5,1.1,0.1,2.0,2.3,17.0,2001
7,Ray Allen*,SG,25,MIL,82,82,38.2,7.7,16.0,0.480,...,1.2,4.0,5.2,4.6,1.5,0.2,2.5,2.3,22.0,2001
8,Rafer Alston,PG,24,MIL,37,2,7.8,0.8,2.3,0.357,...,0.1,0.7,0.8,1.8,0.4,0.0,0.5,0.7,2.1,2001
9,John Amaechi,C,30,ORL,82,36,20.9,2.9,7.2,0.400,...,0.9,2.3,3.3,0.9,0.3,0.4,1.5,2.1,7.9,2001

In [144]:
player_stats['Player'] = player_stats['Player'].str.replace('*','',regex=False)
player_stats.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Mahmoud Abdul-Rauf,PG,31,VAN,41,0,11.9,2.9,6.0,0.488,...,0.1,0.5,0.6,1.9,0.2,0.0,0.6,1.2,6.5,2001
1,Tariq Abdul-Wahad,SG,26,DEN,29,12,14.5,1.5,3.8,0.387,...,0.5,1.6,2.0,0.8,0.5,0.4,1.2,1.9,3.8,2001
2,Shareef Abdur-Rahim,SF,24,VAN,81,81,40.0,7.5,15.8,0.472,...,2.2,6.9,9.1,3.1,1.1,1.0,2.9,2.9,20.5,2001
3,Cory Alexander,PG,27,ORL,26,0,8.7,0.7,2.2,0.321,...,0.0,1.0,1.0,1.4,0.6,0.0,1.0,1.1,2.0,2001
4,Courtney Alexander,PG,23,TOT,65,24,21.3,3.7,8.8,0.417,...,0.6,1.6,2.2,1.0,0.7,0.1,1.2,2.1,9.5,2001
5,Courtney Alexander,PG,23,DAL,38,6,12.4,1.6,4.7,0.348,...,0.5,1.1,1.7,0.6,0.4,0.1,0.6,2.0,4.2,2001
6,Courtney Alexander,PG,23,WAS,27,18,33.7,6.6,14.6,0.448,...,0.8,2.1,3.0,1.5,1.1,0.1,2.0,2.3,17.0,2001
7,Ray Allen,SG,25,MIL,82,82,38.2,7.7,16.0,0.480,...,1.2,4.0,5.2,4.6,1.5,0.2,2.5,2.3,22.0,2001
8,Rafer Alston,PG,24,MIL,37,2,7.8,0.8,2.3,0.357,...,0.1,0.7,0.8,1.8,0.4,0.0,0.5,0.7,2.1,2001
9,John Amaechi,C,30,ORL,82,36,20.9,2.9,7.2,0.400,...,0.9,2.3,3.3,0.9,0.3,0.4,1.5,2.1,7.9,2001

In [145]:
player_stats.groupby(['Player','Year']).get_group(('Courtney Alexander',2001))

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
4,Courtney Alexander,PG,23,TOT,65,24,21.3,3.7,8.8,0.417,...,0.6,1.6,2.2,1.0,0.7,0.1,1.2,2.1,9.5,2001
5,Courtney Alexander,PG,23,DAL,38,6,12.4,1.6,4.7,0.348,...,0.5,1.1,1.7,0.6,0.4,0.1,0.6,2.0,4.2,2001
6,Courtney Alexander,PG,23,WAS,27,18,33.7,6.6,14.6,0.448,...,0.8,2.1,3.0,1.5,1.1,0.1,2.0,2.3,17.0,2001

In [146]:
def convert_to_single_row(df):
    if df.shape[0] == 1:
        return df
    else:
        row = df[df['Tm'] == 'TOT']
        row['Tm'] = df.iloc[-1,:]['Tm']
        return row
        
player_stats = player_stats.groupby(['Player','Year']).apply(convert_to_single_row)

In [147]:
player_stats

                                  Player Pos  Age   Tm   G  GS    MP   FG  \
Player         Year
A.C. Green     2001 181       A.C. Green  PF   37  MIA  82   1  17.2  1.8
A.J. Guyton    2001 184      A.J. Guyton  PG   22  CHI  33   8  19.1  2.4
               2002 716      A.J. Guyton  PG   23  CHI  45   6  13.5  2.0
               2003 1203     A.J. Guyton  PG   24  GSW   2   0   4.5  0.0
A.J. Hammons   2017 9322    A.J. Hammons   C   24  DAL  22   0   7.4  0.8
...                                  ...  ..  ...  ...  ..  ..   ...  ...
Željko Rebrača 2002 916   Željko Rebrača   C   29  DET  74   4  15.9  2.6
               2003 1397  Željko Rebrača   C   30  DET  30  12  16.3  2.7
               2004 1957  Željko Rebrača   C   31  ATL  24   2  11.4  1.4
               2005 2535  Željko Rebrača   C   32  LAC  58   2  16.0  2.3
               2006 3107  Željko Rebrača   C   33  LAC  29   2  14.2  1.8

                          FGA    FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV  \
Player         Year                   ...
A.C. Green     2001 181   4.0  0.444  ...  1.3  2.5  3.8  0.5  0.4  0.1  0.5
A.J. Guyton    2001 184   5.8  0.406  ...  0.3  0.8  1.1  1.9  0.3  0.2  0.7
               2002 716   5.4  0.361  ...  0.3  0.7  1.0  1.8  0.2  0.2  0.8
               2003 1203  2.0  0.000  ...  0.0  0.0  0.0  1.0  0.5  0.0  0.5
A.J. Hammons   2017 9322  1.9  0.405  ...  0.4  1.3  1.6  0.2  0.0  0.6  0.5
...                       ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
Željko Rebrača 2002 916   5.1  0.505  ...  1.1  2.8  3.9  0.5  0.4  1.0  1.1
               2003 1397  4.8  0.552  ...  0.9  2.2  3.1  0.3  0.2  0.6  1.0
               2004 1957  3.2  0.442  ...  1.0  1.5  2.4  0.3  0.2  0.5  0.7
               2005 2535  4.0  0.568  ...  0.8  2.3  3.2  0.4  0.2  0.7  0.8
               2006 3107  3.3  0.542  ...  0.4  1.8  2.2  0.3  0.2  0.7  0.8

                           PF  PTS  Year
Player         Year
A.C. Green     2001 181   1.5  4.5  2001
A.J. Guyton    2001 184   1.1  6.0  2001
               2002 716   0.5  5.4  2002
               2003 1203  0.0  0.0  2003
A.J. Hammons   2017 9322  1.0  2.2  2017
...                       ...  ...   ...
Željko Rebrača 2002 916   2.6  6.9  2002
               2003 1397  2.6  6.6  2003
               2004 1957  2.2  3.8  2004
               2005 2535  2.2  5.8  2005
               2006 3107  2.0  4.7  2006

[10541 rows x 30 columns]

In [148]:
player_stats.index = player_stats.index.droplevel()
player_stats.index = player_stats.index.droplevel()
player_stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
181,A.C. Green,PF,37,MIA,82,1,17.2,1.8,4.0,0.444,...,1.3,2.5,3.8,0.5,0.4,0.1,0.5,1.5,4.5,2001
184,A.J. Guyton,PG,22,CHI,33,8,19.1,2.4,5.8,0.406,...,0.3,0.8,1.1,1.9,0.3,0.2,0.7,1.1,6.0,2001
716,A.J. Guyton,PG,23,CHI,45,6,13.5,2.0,5.4,0.361,...,0.3,0.7,1.0,1.8,0.2,0.2,0.8,0.5,5.4,2002
1203,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,0.000,...,0.0,0.0,0.0,1.0,0.5,0.0,0.5,0.0,0.0,2003
9322,A.J. Hammons,C,24,DAL,22,0,7.4,0.8,1.9,0.405,...,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,0.505,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
1397,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,0.552,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
1957,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,0.442,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
2535,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,0.568,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
3107,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,0.542,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

In [149]:
full_data = player_stats.merge(mvps, how='outer', on=['Player', 'Year'])
full_data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,PF,37,MIA,82,1,17.2,1.8,4.0,0.444,...,0.5,0.4,0.1,0.5,1.5,4.5,2001,NaN,NaN,NaN
1,A.J. Guyton,PG,22,CHI,33,8,19.1,2.4,5.8,0.406,...,1.9,0.3,0.2,0.7,1.1,6.0,2001,NaN,NaN,NaN
2,A.J. Guyton,PG,23,CHI,45,6,13.5,2.0,5.4,0.361,...,1.8,0.2,0.2,0.8,0.5,5.4,2002,NaN,NaN,NaN
3,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,0.000,...,1.0,0.5,0.0,0.5,0.0,0.0,2003,NaN,NaN,NaN
4,A.J. Hammons,C,24,DAL,22,0,7.4,0.8,1.9,0.405,...,0.2,0.0,0.6,0.5,1.0,2.2,2017,NaN,NaN,NaN

In [150]:
full_data[['Pts Won', 'Pts Max', 'Share']]= full_data[['Pts Won', 'Pts Max', 'Share']].fillna(0)
full_data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,PF,37,MIA,82,1,17.2,1.8,4.0,0.444,...,0.5,0.4,0.1,0.5,1.5,4.5,2001,0.0,0.0,0.0
1,A.J. Guyton,PG,22,CHI,33,8,19.1,2.4,5.8,0.406,...,1.9,0.3,0.2,0.7,1.1,6.0,2001,0.0,0.0,0.0
2,A.J. Guyton,PG,23,CHI,45,6,13.5,2.0,5.4,0.361,...,1.8,0.2,0.2,0.8,0.5,5.4,2002,0.0,0.0,0.0
3,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,0.000,...,1.0,0.5,0.0,0.5,0.0,0.0,2003,0.0,0.0,0.0
4,A.J. Hammons,C,24,DAL,22,0,7.4,0.8,1.9,0.405,...,0.2,0.0,0.6,0.5,1.0,2.2,2017,0.0,0.0,0.0

In [151]:
teams = pd.read_csv('team_stats.csv')
teams.head(10)

,Unnamed: 0,Team name,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
0,0,Philadelphia 76ers*,56,26,0.683,—,94.7,90.4,3.64,2001
1,1,Miami Heat*,50,32,0.610,6.0,88.9,86.6,1.73,2001
2,2,New York Knicks*,48,34,0.585,8.0,88.7,86.1,1.98,2001
3,3,Orlando Magic*,43,39,0.524,13.0,97.5,96.5,0.39,2001
4,4,Boston Celtics,36,46,0.439,20.0,94.6,96.8,-2.40,2001
5,5,New Jersey Nets,26,56,0.317,30.0,92.1,97.1,-5.30,2001
6,6,Washington Wizards,19,63,0.232,37.0,93.2,99.9,-6.75,2001
7,7,Milwaukee Bucks*,52,30,0.634,—,100.7,96.9,3.14,2001
8,8,Toronto Raptors*,47,35,0.573,5.0,97.6,95.4,1.69,2001
9,9,Charlotte Hornets*,46,36,0.561,6.0,91.9,89.8,1.45,2001

In [152]:
del teams['Unnamed: 0']
teams['Team name'] = teams['Team name'].str.replace('*','',regex=False)
teams.head()

            Team name   W   L   W/L%    GB  PS/G  PA/G   SRS  Year
0  Philadelphia 76ers  56  26  0.683     —  94.7  90.4  3.64  2001
1          Miami Heat  50  32  0.610   6.0  88.9  86.6  1.73  2001
2     New York Knicks  48  34  0.585   8.0  88.7  86.1  1.98  2001
3       Orlando Magic  43  39  0.524  13.0  97.5  96.5  0.39  2001
4      Boston Celtics  36  46  0.439  20.0  94.6  96.8 -2.40  2001

In [153]:
nicknames = {}

with open('nicknames.csv', 'r', encoding='utf-8') as f:
    decode = f.read().split('\n')

for _ in decode[1:]:
    abbrev, name = _.split(',')
    nicknames[abbrev] = name

In [154]:
full_data['Team name'] = full_data['Tm'].map(nicknames)
full_data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team name
0,A.C. Green,PF,37,MIA,82,1,17.2,1.8,4.0,0.444,...,0.4,0.1,0.5,1.5,4.5,2001,0.0,0.0,0.0,Miami Heat
1,A.J. Guyton,PG,22,CHI,33,8,19.1,2.4,5.8,0.406,...,0.3,0.2,0.7,1.1,6.0,2001,0.0,0.0,0.0,Chicago Bulls
2,A.J. Guyton,PG,23,CHI,45,6,13.5,2.0,5.4,0.361,...,0.2,0.2,0.8,0.5,5.4,2002,0.0,0.0,0.0,Chicago Bulls
3,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,0.000,...,0.5,0.0,0.5,0.0,0.0,2003,0.0,0.0,0.0,Golden State Warriors
4,A.J. Hammons,C,24,DAL,22,0,7.4,0.8,1.9,0.405,...,0.0,0.6,0.5,1.0,2.2,2017,0.0,0.0,0.0,Dallas Mavericks

In [155]:
full_data = full_data.merge(teams, how='outer', on=('Team name','Year'))

In [156]:
full_data

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team name,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,37,MIA,82,1,17.2,1.8,4.0,0.444,...,0.0,0.000,Miami Heat,50,32,0.610,6.0,88.9,86.6,1.73
1,Alonzo Mourning,C,30,MIA,13,3,23.5,5.6,10.8,0.518,...,0.0,0.000,Miami Heat,50,32,0.610,6.0,88.9,86.6,1.73
2,Anthony Carter,PG,25,MIA,72,6,22.6,2.7,6.7,0.406,...,0.0,0.000,Miami Heat,50,32,0.610,6.0,88.9,86.6,1.73
3,Anthony Mason,PF,34,MIA,80,80,40.7,5.8,11.9,0.482,...,1240.0,0.001,Miami Heat,50,32,0.610,6.0,88.9,86.6,1.73
4,Brian Grant,C,28,MIA,82,79,33.8,5.9,12.3,0.479,...,0.0,0.000,Miami Heat,50,32,0.610,6.0,88.9,86.6,1.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10536,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10537,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10538,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10539,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10540,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [159]:
full_data = full_data.apply(pd.to_numeric, errors='ignore')
full_data.dtypes

Player        object
Pos           object
Age            int64
Tm            object
G              int64
GS             int64
MP           float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
Year           int64
Pts Won      float64
Pts Max      float64
Share        float64
Team name     object
W              int64
L              int64
W/L%         float64
GB            object
PS/G         float64
PA/G         float64
SRS          float64
dtype: object

In [160]:
full_data['GB'].unique()

array(['6.0', '37.0', '29.0', '21.0', '28.0', '25.0', '8.0', '19.0',
       '1.0', '13.0', '17.0', '23.0', '3.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '—', '11.0', '5.0', '26.0', '18.0', '16.0', '41.0', '12.0',
       '14.0', '30.0', '34.0', '4.0', '1.5', '43.0', '39.0', '18.5',
       '31.0', '40.0', '7.0', '46.0', '10.0', '22.0', '10.5', '32.0',
       '38.0', '27.0', '33.0', '50.0', '21.5', '45.0', '24.0', '22.5',
       '25.5', '36.0', '3.5', '20.5', '48.0', '11.5', '56.0', '2.5',
       '12.5', '32.5', '4.5'], dtype=object)

In [163]:
full_data['GB'] = full_data['GB'].str.replace('—','0',regex=False)
full_data['GB'].unique()

array(['6.0', '37.0', '29.0', '21.0', '28.0', '25.0', '8.0', '19.0',
       '1.0', '13.0', '17.0', '23.0', '3.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '0', '11.0', '5.0', '26.0', '18.0', '16.0', '41.0', '12.0',
       '14.0', '30.0', '34.0', '4.0', '1.5', '43.0', '39.0', '18.5',
       '31.0', '40.0', '7.0', '46.0', '10.0', '22.0', '10.5', '32.0',
       '38.0', '27.0', '33.0', '50.0', '21.5', '45.0', '24.0', '22.5',
       '25.5', '36.0', '3.5', '20.5', '48.0', '11.5', '56.0', '2.5',
       '12.5', '32.5', '4.5'], dtype=object)

In [164]:
full_data['GB'] = pd.to_numeric(full_data['GB'])
full_data.dtypes

Player        object
Pos           object
Age            int64
Tm            object
G              int64
GS             int64
MP           float64
FG           float64
FGA          float64
FG%          float64
3P           float64
3PA          float64
3P%          float64
2P           float64
2PA          float64
2P%          float64
eFG%         float64
FT           float64
FTA          float64
FT%          float64
ORB          float64
DRB          float64
TRB          float64
AST          float64
STL          float64
BLK          float64
TOV          float64
PF           float64
PTS          float64
Year           int64
Pts Won      float64
Pts Max      float64
Share        float64
Team name     object
W              int64
L              int64
W/L%         float64
GB           float64
PS/G         float64
PA/G         float64
SRS          float64
dtype: object

In [165]:
full_data.to_csv('player_mvp_stats.csv')

In [179]:
stats = pd.read_csv('player_mvp_stats.csv')

In [180]:
stats.isnull().sum()

Unnamed: 0       0
Player           0
Pos              0
Age              0
Tm               0
G                0
GS               0
MP               0
FG               0
FGA              0
FG%             42
3P               0
3PA              0
3P%           1383
2P               0
2PA              0
2P%             80
eFG%            42
FT               0
FTA              0
FT%            405
ORB              0
DRB              0
TRB              0
AST              0
STL              0
BLK              0
TOV              0
PF               0
PTS              0
Year             0
Pts Won          0
Pts Max          0
Share            0
Team name        0
W                0
L                0
W/L%             0
GB               0
PS/G             0
PA/G             0
SRS              0
dtype: int64

In [181]:
stats[pd.isnull(stats['FG%'])][['Player','FG']]

                    Player   FG
55              Guy Rucker  0.0
219             Gani Lawal  0.0
875             C.J. Miles  0.0
1292            Ade Murkey  0.0
1476          Ronny Turiaf  0.0
1637         DeJon Jarreau  0.0
1662           Lari Ketner  0.0
2183             Ben Moore  0.0
2198   Trey McKinney-Jones  0.0
2299        Josh Childress  0.0
2463            Andy Panko  0.0
2482       Dickey Simpkins  0.0
2544       Pavel Podkolzin  0.0
2699      Jerrelle Benimon  0.0
2809            Tyler Hall  0.0
2959           Jordan Bell  0.0
3108           Alex Scales  0.0
3357           J.P. Macura  0.0
3362        Marques Bolden  0.0
3544              Deng Gai  0.0
3990          Dwayne Jones  0.0
4055           Chris Smith  0.0
4492          Damion James  0.0
4982         Bryon Russell  0.0
5415         Brian Skinner  0.0
5626            Sam Dekker  0.0
6050          John Holland  0.0
6053          Kobi Simmons  0.0
6199         Ashton Hagans  0.0
6240       Jaime Echenique  0.0
6800      Hassan Whiteside  0.0
6857            Tyler Ulis  0.0
7066            Sam Dekker  0.0
7101         Scottie Lewis  0.0
7653         JamesOn Curry  0.0
7674          Matt Carroll  0.0
8207       Javin DeLaurier  0.0
8246        Olden Polynice  0.0
8354      Danuel House Jr.  0.0
9557          Jelani McCoy  0.0
10363          Tyler Lydon  0.0
10417          George King  0.0

In [186]:
stats = stats.fillna(0)
stats[stats['Player'] == 'Guy Rucker'][['FG%','FG']]

    FG%   FG
55  0.0  0.0

In [187]:
stats.isnull().sum()

Unnamed: 0    0
Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%           0
3P            0
3PA           0
3P%           0
2P            0
2PA           0
2P%           0
eFG%          0
FT            0
FTA           0
FT%           0
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team name     0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [188]:
stats.to_csv('player_mvp_stats.csv')